---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710332"
---
# <a name="edu-verification"></a>Ověření EDU

Ve většině případů se žádosti o způsobilost pro akademickou podporu zpracovávají v 24-48 hod. Některé žádosti mohou být nutné důkladnější kontrolou a zpracování může trvat až 10 dní. Po dokončení vám pošleme e-mail se stavem způsobilosti školy.

**Důležité upozornění** Pokud jste Průvodce ověřením před zadáním domény ukončili, můžete [Průvodce akademickým ověřením](https://go.microsoft.com/fwlink/p/?linkid=2135255) během bezplatného zkušebního období kdykoli obnovit.

Pokud chcete zkontrolovat stav vaší domény, přejděte do [centra pro správu Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domovské stránce se posuňte na konec a najděte **platební** kartu. **Fakturační** karta označuje stav ověřovacího procesu (schváleno, čeká na odmítnutí, odmítnuto nebo přidal vaši doménu).

Pokud je žádost zamítnutá, přečtěte si téma [Moje škola není způsobilá. Co mám dělat?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)