---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138751"
---
# <a name="edu-verification"></a><span data-ttu-id="aa581-102">Ověření EDU</span><span class="sxs-lookup"><span data-stu-id="aa581-102">EDU verification</span></span>

<span data-ttu-id="aa581-103">Dostanete e-mail s informacemi o tom, jestli způsobilost vaší organizace byla schválena.</span><span class="sxs-lookup"><span data-stu-id="aa581-103">You'll receive an email letting you know whether your organization's eligibility has been approved.</span></span>

<span data-ttu-id="aa581-104">V některých případech může být nutné počkat až 48 hodin na dokončení ověření služby DNS.</span><span class="sxs-lookup"><span data-stu-id="aa581-104">In some cases, you may need to wait up to 48 hours for the DNS verification to complete.</span></span> <span data-ttu-id="aa581-105">Můžete kliknout na "Ověřím později" a vrátit se později a přihlásit se na portál Office 365; pak přejděte do \*\* [Centra pro správu](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Nastavení\*\* a kliknutím na [Domény](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) zkontrolujte položku stavu pro vaši doménu.</span><span class="sxs-lookup"><span data-stu-id="aa581-105">You can click “I'll verify later” and come back later and log into the Office 365 portal; then go to **[Admin center](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Settings** and click [Domains](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) to check the status entry for your domain.</span></span>

<span data-ttu-id="aa581-106">Po schválení můžete přejít na kartu **[Nákup služeb](https://go.microsoft.com/fwlink/p/?linkid=868433)** v Centru pro správu Microsoftu a zakoupit předplatná.</span><span class="sxs-lookup"><span data-stu-id="aa581-106">When you are approved, you can go to the **[Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433)** tab of Microsoft admin center to purchase subscriptions.</span></span>
