---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 309575a86155d416d587ee034fb7efe2c807e3f3
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 09/14/2020
ms.locfileid: "47710332"
---
# <a name="edu-verification"></a><span data-ttu-id="d05db-102">Ověření EDU</span><span class="sxs-lookup"><span data-stu-id="d05db-102">EDU verification</span></span>

<span data-ttu-id="d05db-103">Ve většině případů se žádosti o způsobilost pro akademickou podporu zpracovávají v 24-48 hod.</span><span class="sxs-lookup"><span data-stu-id="d05db-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="d05db-104">Některé žádosti mohou být nutné důkladnější kontrolou a zpracování může trvat až 10 dní.</span><span class="sxs-lookup"><span data-stu-id="d05db-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="d05db-105">Po dokončení vám pošleme e-mail se stavem způsobilosti školy.</span><span class="sxs-lookup"><span data-stu-id="d05db-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="d05db-106">**Důležité upozornění** Pokud jste Průvodce ověřením před zadáním domény ukončili, můžete [Průvodce akademickým ověřením](https://go.microsoft.com/fwlink/p/?linkid=2135255) během bezplatného zkušebního období kdykoli obnovit.</span><span class="sxs-lookup"><span data-stu-id="d05db-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="d05db-107">Pokud chcete zkontrolovat stav vaší domény, přejděte do [centra pro správu Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="d05db-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="d05db-108">Na domovské stránce se posuňte na konec a najděte **platební** kartu.</span><span class="sxs-lookup"><span data-stu-id="d05db-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="d05db-109">**Fakturační** karta označuje stav ověřovacího procesu (schváleno, čeká na odmítnutí, odmítnuto nebo přidal vaši doménu).</span><span class="sxs-lookup"><span data-stu-id="d05db-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="d05db-110">Pokud je žádost zamítnutá, přečtěte si téma [Moje škola není způsobilá. Co mám dělat?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="d05db-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>