---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814365"
---
# <a name="edu-verification"></a><span data-ttu-id="774bd-102">Ověření EDU</span><span class="sxs-lookup"><span data-stu-id="774bd-102">EDU verification</span></span>

<span data-ttu-id="774bd-103">Ve většině případů se žádosti o akademické nároky zpracovávají do 24–48 hodin.</span><span class="sxs-lookup"><span data-stu-id="774bd-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="774bd-104">Některé žádosti vyžadovat důkladnější kontrolu a zpracování může trvat až 10 pracovních dnů.</span><span class="sxs-lookup"><span data-stu-id="774bd-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="774bd-105">Po dokončení pošleme e-mail se stavem oprávněnosti vaší školy.</span><span class="sxs-lookup"><span data-stu-id="774bd-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="774bd-106">**Důležité:** Pokud jste průvodce ověřením před zadáním domény [](https://go.microsoft.com/fwlink/p/?linkid=2135255) ukončíte, můžete průvodce akademickým ověřením kdykoli obnovit během bezplatné zkušební verze.</span><span class="sxs-lookup"><span data-stu-id="774bd-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="774bd-107">Pokud chcete zkontrolovat stav vaší domény, přejděte do Centra pro správu [Microsoftu 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="774bd-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="774bd-108">Na domovské stránce se posuňte dolů a najděte **kartu Fakturace.**</span><span class="sxs-lookup"><span data-stu-id="774bd-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="774bd-109">Karta **Fakturace** označuje stav procesu ověření (schváleno, čeká na vyřízení, odmítnutí nebo přidání domény).</span><span class="sxs-lookup"><span data-stu-id="774bd-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="774bd-110">Pokud je vaše žádost zamítnuta, podívejte se na stránku [Moje škola nemá nárok. Co teď udělám?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="774bd-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>