---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205260"
---
# <a name="edu-verification"></a>Ověření EDU

Ve většině případů jsou žádosti o způsobilost akademické obce zpracovány během 24-48 hodin. Některé žádosti mohou vyžadovat důkladnější kontrolu a zpracování může trvat až 10 pracovních dnů. Po dokončení vám zašleme e-mail se stavem vaší školy.

**Důležité** Pokud jste průvodce ověřením před vstupem do domény ukončili, můžete [průvodce akademickým ověřením kdykoli](https://go.microsoft.com/fwlink/p/?linkid=2135255) během bezplatné zkušební verze pokračovat.

Pokud chcete zkontrolovat stav své domény, přejděte do [Centra pro správu Microsoftu 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domovské stránce přejděte dolů a najděte **fakturační** kartu. **Fakturační** karta označuje stav ověřovacího procesu (schváleno, čeká na vyřízení, odmítnutí nebo přidání domény).

Pokud je vaše žádost zamítnuta, přečtěte si informace [o tom, že moje škola není způsobilá. Co mám dělat teď?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)