---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205260"
---
# <a name="edu-verification"></a><span data-ttu-id="fb1bf-102">Ověření EDU</span><span class="sxs-lookup"><span data-stu-id="fb1bf-102">EDU verification</span></span>

<span data-ttu-id="fb1bf-103">Ve většině případů jsou žádosti o způsobilost akademické obce zpracovány během 24-48 hodin.</span><span class="sxs-lookup"><span data-stu-id="fb1bf-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="fb1bf-104">Některé žádosti mohou vyžadovat důkladnější kontrolu a zpracování může trvat až 10 pracovních dnů.</span><span class="sxs-lookup"><span data-stu-id="fb1bf-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="fb1bf-105">Po dokončení vám zašleme e-mail se stavem vaší školy.</span><span class="sxs-lookup"><span data-stu-id="fb1bf-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="fb1bf-106">**Důležité** Pokud jste průvodce ověřením před vstupem do domény ukončili, můžete [průvodce akademickým ověřením kdykoli](https://go.microsoft.com/fwlink/p/?linkid=2135255) během bezplatné zkušební verze pokračovat.</span><span class="sxs-lookup"><span data-stu-id="fb1bf-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="fb1bf-107">Pokud chcete zkontrolovat stav své domény, přejděte do [Centra pro správu Microsoftu 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="fb1bf-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="fb1bf-108">Na domovské stránce přejděte dolů a najděte **fakturační** kartu.</span><span class="sxs-lookup"><span data-stu-id="fb1bf-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="fb1bf-109">**Fakturační** karta označuje stav ověřovacího procesu (schváleno, čeká na vyřízení, odmítnutí nebo přidání domény).</span><span class="sxs-lookup"><span data-stu-id="fb1bf-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="fb1bf-110">Pokud je vaše žádost zamítnuta, přečtěte si informace [o tom, že moje škola není způsobilá. Co mám dělat teď?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="fb1bf-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>