---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814365"
---
# <a name="edu-verification"></a>Ověření EDU

Ve většině případů se žádosti o akademické nároky zpracovávají do 24–48 hodin. Některé žádosti vyžadovat důkladnější kontrolu a zpracování může trvat až 10 pracovních dnů. Po dokončení pošleme e-mail se stavem oprávněnosti vaší školy.

**Důležité:** Pokud jste průvodce ověřením před zadáním domény [](https://go.microsoft.com/fwlink/p/?linkid=2135255) ukončíte, můžete průvodce akademickým ověřením kdykoli obnovit během bezplatné zkušební verze.

Pokud chcete zkontrolovat stav vaší domény, přejděte do Centra pro správu [Microsoftu 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domovské stránce se posuňte dolů a najděte **kartu Fakturace.** Karta **Fakturace** označuje stav procesu ověření (schváleno, čeká na vyřízení, odmítnutí nebo přidání domény).

Pokud je vaše žádost zamítnuta, podívejte se na stránku [Moje škola nemá nárok. Co teď udělám?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)