---
title: Ověření EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 7bb3a74137fd6c08165a882923087aac750c6fe4
ms.sourcegitcommit: f573e83f6eddff471449c1c3f292ba23d139b972
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 05/07/2020
ms.locfileid: "44138751"
---
# <a name="edu-verification"></a>Ověření EDU

Dostanete e-mail s informacemi o tom, jestli způsobilost vaší organizace byla schválena.

V některých případech může být nutné počkat až 48 hodin na dokončení ověření služby DNS. Můžete kliknout na "Ověřím později" a vrátit se později a přihlásit se na portál Office 365; pak přejděte do ** [Centra pro správu](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage) > Nastavení** a kliknutím na [Domény](https://admin.microsoft.com/Adminportal/Home?source=applauncher#/Domains) zkontrolujte položku stavu pro vaši doménu.

Po schválení můžete přejít na kartu **[Nákup služeb](https://go.microsoft.com/fwlink/p/?linkid=868433)** v Centru pro správu Microsoftu a zakoupit předplatná.
