---
title: 8000038 podřízeného účtu GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056987"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum narození zobrazené na vašem účtu Microsoft je nesprávné.

Microsoft bere zabezpečení velmi vážně. Možná jste nedávno byli vyzváni k poskytnutí souhlasu rodičů s účtem Microsoft dítěte. Pokud potřebujete pomoct s poskytnutím souhlasu rodičů nebo aktualizací data narození na účtu Microsoft, podívejte se na článek Ověření věku [pro souhlas rodiče](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Přečtěte si další informace [o souhlasu rodičů a dětských účtech Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  