---
title: Řešení potíží s ověřením Publisheru
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884904"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="b7799-102">Problémy týkající se ověření Publisheru pro vývojáře</span><span class="sxs-lookup"><span data-stu-id="b7799-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="b7799-103">**Doporučené kroky**</span><span class="sxs-lookup"><span data-stu-id="b7799-103">**Recommended steps**</span></span> 

<span data-ttu-id="b7799-104">Pokud chcete vyřešit problémy týkající se ověření Publisheru, postupujte takto:</span><span class="sxs-lookup"><span data-stu-id="b7799-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="b7799-105">Zkontrolujte předpoklady a další požadavky, abyste měli jistotu, že jsou všechny splněné.</span><span class="sxs-lookup"><span data-stu-id="b7799-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="b7799-106">Projděte si pokyny pro [označení aplikace v aplikaci Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , která byla ověřena, a zkontrolujte, zda byly všechny kroky úspěšně provedeny.</span><span class="sxs-lookup"><span data-stu-id="b7799-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="b7799-107">Prohlédněte si seznam [běžných problémů](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) a postupujte podle doporučených kroků, pokud máte problém v tomto seznamu.</span><span class="sxs-lookup"><span data-stu-id="b7799-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="b7799-108">Vyžádejte si žádost pomocí [Průzkumníka graphu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) k získání dalších informací a vyřeší případné problémy v uživatelském rozhraní.</span><span class="sxs-lookup"><span data-stu-id="b7799-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="b7799-109">**Doporučené dokumenty**</span><span class="sxs-lookup"><span data-stu-id="b7799-109">**Recommended documents**</span></span>

- [<span data-ttu-id="b7799-110">Ověření vydavatele – přehled</span><span class="sxs-lookup"><span data-stu-id="b7799-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="b7799-111">Označení aplikace jako ověřené aplikací Publisher</span><span class="sxs-lookup"><span data-stu-id="b7799-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="b7799-112">Řešení potíží s ověřením Publisheru</span><span class="sxs-lookup"><span data-stu-id="b7799-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

