---
title: Řešení potíží s ověřením Publisheru
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 01/15/2021
ms.locfileid: "49884904"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problémy týkající se ověření Publisheru pro vývojáře

**Doporučené kroky** 

Pokud chcete vyřešit problémy týkající se ověření Publisheru, postupujte takto:

1. Zkontrolujte předpoklady a další požadavky, abyste měli jistotu, že jsou všechny splněné.
2. Projděte si pokyny pro [označení aplikace v aplikaci Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , která byla ověřena, a zkontrolujte, zda byly všechny kroky úspěšně provedeny.
3. Prohlédněte si seznam [běžných problémů](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) a postupujte podle doporučených kroků, pokud máte problém v tomto seznamu.
4. Vyžádejte si žádost pomocí [Průzkumníka graphu](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) k získání dalších informací a vyřeší případné problémy v uživatelském rozhraní.

**Doporučené dokumenty**

- [Ověření vydavatele – přehled](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Označení aplikace jako ověřené aplikací Publisher](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Řešení potíží s ověřením Publisheru](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

